h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
	 margin-top: 20px;
 margin-left: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="submit"] {
    width: 200px;
    margin-bottom: 10px;
}

#message {
    font-weight: bold;
    color: green;
}
 .container {
      max-width: 400px;
      margin: 100px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 4px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .form-group {
      margin-bottom: 20px;
    }
    
    .form-group label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }
    
    .form-group input {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border-radius: 4px;
      border: 1px solid #ccc;
    }
    
    .form-group button {
      display: block;
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border-radius: 4px;
      border: none;
      background-color: #4CAF50;
      color: #fff;
      cursor: pointer;
    }
